<html>
    <meta http-equiv=Content-Type content=text/html;charset=utf-8 >
    <head>
        <title>Saving Money Every Day</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'SaveMoney/style1.css' %}" />
    </head>
    <body>
        <img src="http://www.friendskorner.com/forum/photopost/data/500/welcome20with20animated20white20dov1.gif" alt="welcome" style="width:491;height210" align="left"><div id="box0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h1>Save money on everyday</h1></div>

<!--Text-->
        <div id="box1" style="left:1150px; top:21px"><br><br><br><br><br><br><br>
           <text1>&nbsp;&nbsp;&nbsp;มีสลึงพึงบรรจบให้ครบบาท<br>&nbsp;&nbsp;&nbsp;&nbsp;อย่าให้ขาดสิ่งของต้องประสงค์<br></text1>
        </div>
<!--end text-->


<!--result-->
        <div id="box2" style="left:500px; top:150px"><br><br><br><br><br><br><br>
        <table id="id_list_table" align="center">
           <tr><td><text0>เป้าหมายการออม: {% for item in items %}{{ item.goal }}{% endfor %}</text0></td></tr>
           <tr><td><text0>เงินออมทั้งหมด: {{ total_money }}</text0></td></tr>
           <tr><td><text0>ดอกเบี้ย: {{ total_rate }}</text0></td></tr>
        </table><br><br>
        <form method="POST"><text0>
            <center><INPUT Type="submit" VALUE="home" id="button" >
            <INPUT Type = "hidden" value = "send" name = "Home_send"></center>
            {% csrf_token %}</text0>
        </form>
        </div>
        <!--div id="box3"--><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <table id="id_money_table">
        <tbody>
           <tr><th>ระยะเวลา</th>
               {% for time in all_times %}
               <td><text0>{{time}}</text0></td>
               {% endfor %}
               <td><text0>{% for item in items %}{{ item.time }}{% endfor %}</text0></td>
               </tr>
           <tr><th>จำนวนเงินออม</th>
               <td><text0>{% for item in items %}{{ item.money }}{% endfor %}</text0></td>
               {% for money in all_moneys %}
               <td><text0>{{money}}</text0></td>
               {% endfor %}
               </tr>
           <tr><th>ดอกเบี้ย</th>
               <td><text0>{% for item in items %}{{ item.rate }}{% endfor %}</text0></td>
               {% for rate in all_rates %}
               <td><text0>{{rate}}</text0></td>
               {% endfor %}
               </tr>
        </table>
<!--end result-->

<!--Text-->
        <div id="box1" style="left:1024px; top:250px"><br><br><br><br><br><br><br>
           <text1>
            &nbsp;&nbsp;&nbsp;จงมักน้อยกินน้อยค่อยบรรจง<br>&nbsp;&nbsp;&nbsp;&nbsp;อย่าจ่ายลงให้มากจะยากนาน<br><br></text1>
           <text2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- สุภาษิตสอนหญิง (สุนทรภู่) -</text2>
        </div>
<!--Text-->
    </body>
</html>
