<html>
    <meta http-equiv=Content-Type content=text/html;charset=utf-8 >
    <head>
        <title>Saving Money Every Day</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'SaveMoney/style1.css' %}" />
    </head>
    <body>
        <img src="http://www.friendskorner.com/forum/photopost/data/500/welcome20with20animated20white20dov1.gif" alt="welcome" style="width:491;height210" align="left"><div id="box0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h1>Save money on everyday</h1></div>
        <!--div id="box0"><br><br><h1>Welcome Save money on everyday</h1></div-->

<!--Text-->
        <div id="box1" style="left:1300px; top:21px"><br><br><br><br><br><br><br>
           <p id="date"></p>
           <script>
               var d = new Date();
               var n = d.toDateString();
               var c = d.toLocaleTimeString();
               document.getElementById("date").innerHTML = n+"  "+c;
               /*document.write(d.toLocaleTimeString());*/
           </script>
           <text1>&nbsp;&nbsp;&nbsp;มีสลึงพึงบรรจบให้ครบบาท<br>&nbsp;&nbsp;&nbsp;&nbsp;อย่าให้ขาดสิ่งของต้องประสงค์<br></text1>
        </div>
<!--end text-->

<!--input value-->
        <div id="box2" style="left:500px; top:200px"><br><br><br><br><br><br><br>
        <form method="POST"><text0>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เป้าหมายการออม:<input name="goal" id="id_goal" placeholder="Enter your goal" size="20"/><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; จำนวนเงินออม: <input name="money" id="id_money" placeholder="Money" size="5"/> บาท ต่อ เดือน<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ระยะเวลาการออม: <input name="time" id="id_time" placeholder="Time" size="5"/> ปี<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ดอกเบี้ยเงินฝาก: <input name="rate" id="id_rate" placeholder="Rate" size="5"/> ต่อ ปี <br><br>
            <center><INPUT Type="submit" VALUE="calculate" id="button" >
            <INPUT Type = "hidden" value = "calculate" name = "button_cal">
            <!--input type="image" src="img_submit.gif" alt="Submit" width="48" height="48"style="float:left;"-->

            <INPUT TYPE=RESET onClick="return confirm('Are you sure you want to reset the form?')"></center>
            {% csrf_token %}</text0>
        </form>
        </div>
<!--end input-->

<!--Text-->
        <div id="box1" style="left:1180px; top:280px"><br><br><br><br><br><br><br>
           <text1>
            &nbsp;&nbsp;&nbsp;จงมักน้อยกินน้อยค่อยบรรจง<br>&nbsp;&nbsp;&nbsp;&nbsp;อย่าจ่ายลงให้มากจะยากนาน<br><br></text1>
           <text2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- สุภาษิตสอนหญิง (สุนทรภู่) -</text2>
        </div>
<!--Text-->
        <a href="{% url 'SaveMoney.views.result_page' %}">
            <img src="http://www.cse.iitb.ac.in/~gauravloj/images/back-button.png" alt="back" style="width:60px;height:59px" align="left">
        </a>
    </body>
</html>


