    body {
        background-image:url("http://hdw.datawallpaper.com/animals/vintage-bluebird-hd-wallpaper-336224.jpg");
    }
    h1 {
        font-size: 30px; /* font size */
    }
    text0{
        text-align: left;
        font-size: 20px; /* font size */
    }
    text1{
        text-align: left;
        font-size: 18px; /* font size */
    }
    text2{
        text-align: right;
        font-size: 12px; /* font size */
    }
    #box0{ 
        text-align: center;
        width: 514px;
        height: 176px;
        background: url("http://i687.photobucket.com/albums/vv237/4-one/4-1/HT2/GLT47.png");
        margin : auto;
    }
    #box1{
        position: absolute; 
        width: 259px;
        height: 289px;
        background: url("http://www.animatedimages.org/data/media/586/animated-notepad-image-0011.gif");
    }
    #box2{
        position: absolute;
        width: 469px;
        height: 481px;
        background: url("http://270c81.medialib.glogster.com/media/f1/f1bc92312552a9655b3edfcef99707a8785c421d008cee27e5ca4d51a775df8d/paper-gif.gif");
    }
    #box3{
        position: absolute;
        width: 302px;
        height: 252px;
        background-color: MistyRose;
    }
    table#id_money_table {
        border: 3px dashed #FE2EF7;
        color: #8a0808; 
        text-align: left;
    }
    table#id_money_table td:nth-child(even) {
        background-color: #FAFAD2;
    }
   table#id_money_table td:nth-child(odd){
        background-color: #F6CEF5;
    }
    table#id_money_table th	{
        background-color: #FFB6C1;
    }


